ul {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: x-large;
}

ul ul {
    color: gray;
    font-size: large;
    text-align: left;
    font-size: medium;
}

ul ul ul {
    color: green;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: left;
    font-size: x-small;
}

h1 {
    color: gray;
    font-size: large;
    text-align: center;
    border: 5px pink dotted;
    border-radius: 100px;
    margin-top: 5em;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    font-size: x-small;
    color: rgb(48, 48, 118);
    text-align: right;
    border-top: 1px lightblue solid;
    border-bottom: 1px lightblue solid;
    border-bottom-color: purple;
    border-bottom-width: 20px;
}

a {
    outline: none;
    text-decoration: none;
    color: gray;
}

ul ul a {
    color: purple;
}

ul ul ul a {
    color: blueviolet;
}

figure {
    text-align: center;
    background: linear-gradient(#11ffee1f, #0000001f, rgba(44, 44, 99, 0.6));
    padding: 1em;
    color: rgb(30, 30, 90);
    border-radius: 50%;
}

#toc {
    border: 5px purple double;
    border-radius: 20px;
    padding: 10px;
}

h2#titre {
    color: pink;
    text-align: center;
    font-style: italic;
}

body {
    background-image: url("../images/papier.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

a:hover {
    font-weight: bold;
    color: blue;
}

#conc {
    margin-bottom: 40em;
}