/* Forcer un saut de page avant et après la table des matières à l'impression */
@media print {
  #TOC {
    page-break-before: always;
    page-break-after: always;
    break-before: page;
    break-after: page;
  }
}
