#bleue {
    background-color: blue;
    left: 70px;
    bottom: 40px;
    position: relative;
    width: 1200px;
    height: 500px;
}
#rouge {
    background-color: red;
    left: 70px;
    top: 0;
    position: absolute;
    width: 50%;
    height: 500px;
}