.container {
    display: flex;
    margin: 0 10%;
}
.violet {
    background-color: violet;
}
.bleu {
    background-color: blue;
}
.bleu img {
    width: 100px;
}
.bleu  { order: 0; }
img { order: 1;}
.violet  { order: 2; }
