#entete {
    display: grid;
    grid-template-rows: 100px 1fr 1fr ;
}
#liens {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#liens a {
    color: white;
    text-decoration: none;
}
#logo {
    position: relative;
    top: 0;
    left: 0;
}
img {
    width: 100px;
}
#legrid {
    display: grid;
    background-color: gray;
    grid-template-columns: 200px 200px 200px;
}
#legrid div {
    background-color: #1eaafc;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
#crooked {
    transform: rotate(15deg);
    color: red;
}
#item1, #item3 {
    z-index: 1;
}
.page {
    margin: 800px 200px;
}