* {
    margin: 0;
}
#hero {
    background-image: url(../images/louvre.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #4A3D5B;
}
#titre {
    background-color: rgba(202, 194, 194, 0.63);
    padding: 5% 10%;
}
nav {
    display: flex;
    background-color: #4A3D5B;
    text-align: center;
    padding: 2%;
}
nav a {
    flex-wrap: wrap;
    flex: 300px;
    color: white;
    text-decoration: none;
    padding: 0 2%;
}
nav a:hover {
    text-decoration: underline;
}