<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Poxes</title>
</head>
<body>
    <h1>Voici les poxes</h1>
    <% data.forEach(post => { %>
        <h2><%= post.titre %></h2>
        <p><%= post.auteur %></p>
        <p><%= post.description %></p>
    <% }) %>
</body>
</html>