
$main-color: rebeccapurple;
$secondary-color: ivory;
$third-color: navy;

h1 {
    background-color: $main-color;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    color: $secondary-color;
}

p {
    color: $main-color;
    background-color: $secondary-color;
}

nav {
    background-color: $main-color;
}
nav div {
    color: $secondary-color;
    text-decoration: underline;
    text-decoration-color: $third-color;
}