
$main-color: rebeccapurple;
$secondary-color: ivory;
$third-color: red;

h1 {
    background-color: $main-color;
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    color: $secondary-color;
}

p {
    color: $main-color;
    background-color: $secondary-color;
}

nav {
    background-color: $main-color;
    text-align: center;
    padding: 2%;
}

nav a {
    color: $secondary-color;
    text-decoration: none;
    padding: 0 2%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: $third-color;
    border-bottom: 5px $third-color dotted;
}