ul {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: x-large;
    color: green;
    text-align: left;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em green;
}
li { margin: 10px; }
h1, h2 {
    color: rgb(118, 19, 19);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
h1 {
    color: rgb(196, 41, 67);
    text-align: center;
    border: 5px pink dotted;
    border-radius: 100px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    box-shadow: 0px 0px 100px red;
}


.cursive {
    font-family: 'Dancing Script', cursive;
    font-size: x-small;
    color: rgb(48, 48, 118);
    text-align: right;
    border-top: 1px lightblue solid;
    border-bottom: 1px lightblue solid;
    border-bottom-color: purple;
    border-bottom-width: 20px;
}

a {
    outline: none;
    text-decoration: none;
    color: gray;
}

ul ul a {
    color: purple;
}

ul ul ul a {
    color: blueviolet;
}

figure {
    text-align: center;
    background: linear-gradient(#11ffee1f, #0000001f, rgba(44, 44, 99, 0.6));
    padding: 1em;
    color: rgb(30, 30, 90);
    border-radius: 50%;
    box-shadow: inset 0 -3em 3em rgba(0, 200, 0, 0.3),
        0 0 0 2px white,
        0.3em 0.3em 1em rgba(200, 0, 0, 0.6);
    ;

}

#toc {
    border: 5px purple double;
    border-radius: 20px;
    padding: 10px;
}

h2#titre {
    color: pink;
    text-align: center;
    font-style: italic;
}

body {
    background-image: url("../images/papier.jpg");
    background-size: 100%;
    background-repeat: repeat;
    padding-left: 15%;
}

img:hover {
    font-weight: bold;
    color: blue;
    border: red 5px solid;
}
img { 
    border: transparent 5px solid;

    margin: 5px; 
}

#conc {
    margin-bottom: 40em;
}

img {
    border-radius: 50px 20px 50px 20px
}