<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creer Post</title>
</head>
<body>
    <h1>Creer Post</h1>
    <form action="/submit-blog-data" method="post">
        titre <input type="text" name="titre" value="le titre"><br>
        auteur <input type="text" name="auteur" value="auteur"><br>
        description <textarea name="description">Ceci est un post.</textarea><br>
        <input type="submit" value="Créer Post">
    </form>

</body>
</html>