<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <form action="/api/inscription" method="post">
        <label for="">Username</label>
        <input type="text" name="username">
        <label for="">email</label>
        <input type="text" name="email">
        <label for="">password</label>
        <input type="password" name="password">
        <input type="submit" value="Nouvel Utilisateur">
    </form>
</body>
</html>
